.blog {

    &__post {
        display: block;
        position: relative;

        &-photo {
            position: relative;
            display: block;

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                color: white;
                text-align: center;
                max-width: 750px;
            }

            picture {
                position: relative;

                &:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: black;
					opacity: 0.35;
				}

            }

        }

        .info {
            margin: 20px 0 0 0;
            font-size: 19px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            line-height: 1;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

            a {
                font-weight: 400;

                &:hover {
                    text-decoration: underline;
                }

            }
        }

        h1 {
            font-size: 64px;
            line-height: 1.21;
            margin: 0;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
        }

        .content {
            margin: 80px auto;
            max-width: 750px;
            display: block;
            position: relative;

            p {
                font-size: 16px;
                line-height: 1.66;
            }

            img {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            em {

                img {
                    min-width: 1000px;
                    transform: translateX(-50%);
                    margin-left: 50%;
                }

            }

        }   

    }

}