.home {

	&__container {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
	}

	&__blog {
		flex-basis: 75%;
		position: relative;
		padding-right: 20px;

		&-item {
			position: relative;
			display: block;
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid black;

			h3 {
				font-family: 'Josefin Sans', sans-serif;
				font-size: 42px;
				font-weight: 700;
				margin: 0 0 15px 0;
				line-height: 1.1;
			}

			.info {
				font-size: 16px;
				margin: 0 0 15px 0;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 300;
				line-height: 1;

				a {
					font-weight: 400;
					// font-family: 'Libre Baskerville', serif;
					// font-size: 14px;

					&:hover {
						text-decoration: underline;
					}

				}

			}

			picture {

			}

			.excerpt {
				margin: 20px 0;
				font-size: 16px;
				line-height: 1.66;
			}

			.read-more {
				font-family: 'Josefin Sans', sans-serif;
				font-size: 14px;
				text-transform: uppercase;
				border: 1px solid black;
				padding: 14px 20px 12px;
				letter-spacing: 1px;
				font-weight: 400;
				line-height: 1;
				margin: 0 0 10px 0;
				display: inline-block;
			}

		}

	}

	&__sidebar {
		flex-basis: 25%;
		position: relative;
		padding-left: 20px;
		height: 100vh;
		border-left: 1px solid black;
	}

}