.home,
.category {

	&__container {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		margin: 50px auto;
	}

	&__blog {
		flex-basis: 75%;
		position: relative;
		padding-left: 30px;

		&-item {
			position: relative;
			display: block;
			padding-bottom: 30px;
			margin-bottom: 30px;
			text-align: center;

			&.small {
				display: flex;
				flex-wrap: nowrap;
				border: none;

				.photo,
				.text {
					flex-basis: 50%;
				}

				.text {
					padding-left: 20px;
				}

			}

			h3 {
				// font-family: 'Josefin Sans', sans-serif;
				font-size: 42px;
				font-weight: 700;
				margin: 0 0 30px 0;
				line-height: 1.1;
			}

			.info {
				font-size: 16px;
				margin: 0 0 20px 0;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 300;
				line-height: 1;

				a {
					font-weight: 400;
					// font-family: 'Libre Baskerville', serif;
					// font-size: 14px;

					&:hover {
						text-decoration: underline;
					}

				}

			}

			.excerpt {
				margin: 20px 0;
				font-size: 16px;
				line-height: 1.66;
			}

			.read-more {
				font-family: 'Josefin Sans', sans-serif;
				font-size: 14px;
				text-transform: uppercase;
				border: 1px solid black;
				padding: 14px 20px 12px;
				letter-spacing: 1px;
				font-weight: 400;
				line-height: 1;
				margin: 0;
				display: inline-block;
			}

		}

	}

}

.sidebar {
	flex-basis: 25%;
	position: relative;
	padding-right: 30px;
	border-right: 1px solid black;
	text-align: center;

	&-bio {
		
	}

}